name: CMake GoogleTest CI

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - 'main'

jobs:
  buildAndTest:
    runs-on: ${{ matrix.os }}

    strategy:
      # Set fail-fast to false to ensure that feedback is delivered for all matrix combinations.
      fail-fast: false
      
      matrix:
        os: [ubuntu-latest, windows-latest]
        build_type: [Release]
    steps:
    # Checkout repository
    - uses: actions/checkout@v4

    - name: Setup Cmake
      uses: jwlawson/actions-setup-cmake@v1.13
      
    - name: Build
      # Build the program with the given configuration.
      run: |
        cmake -S . -B build
        cmake --build .

    - name: Run Test
      run: |
        cd build
        ctest
