name: C++ CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: macos-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up CMake
      uses: cmake/setup-cmake@v2
      with:
        cmake-version: '3.28.0'
        
    - name: Build
      run: |
        mkdir build
        cd build
        cmake ..
        cmake --build .
        
    - name: Run tests
      run: |
        cd build
        ctest --output-on-failure
